# === DEVELOPMENT TOOLS ===
# These are for development purposes; avoid using them in production deployments
# !STARTERCONF Set to "true" to enable logging
NEXT_PUBLIC_SHOW_LOGGER="false"

# Base URL of the website (change accordingly)
NEXT_PUBLIC_URL=<base url of website, e.g., http://localhost:3000>
AUTH_URL=<base url of website, e.g., http://localhost:3000>

# Authentication
# secret generated with `openssl rand -base64 32`
AUTH_SECRET=tDD3ajGav+TvXu1yo1SlMggXwlHrjwnRdFEyqSXlDkc=

# === EMAIL (SMTP) CONFIGURATION ===
SMTP_SERVER=<smtp.example.com>
SMTP_PORT=465
SMTP_USER=<noreply@example.com>
SMTP_PASS=<password>
EMAIL_FROM="Name <noreply@example.com>"

# === MONGODB CONNECTION ===
# Used for Local Development
MONGODB_URI=mongodb://localhost:27017/testDB
# Used for Staging Development
# MONGODB_URI=mongodb://<username>:<password>@<hostname>:<port>
# Used for the Migration Scripts
REMOTE_MONGODB_URI=mongodb://<username>:<password>@<hostname>:<port>

# === GOOGLE CALENDAR API ===
NEXT_PUBLIC_CALENDAR_API_KEY=''