# !STARTERCONF Duplicate this to .env.local

# DEVELOPMENT TOOLS
# Ideally, don't add them to production deployment envs
# !STARTERCONF Change to true if you want to log data
NEXT_PUBLIC_SHOW_LOGGER="false"

AUTH_SECRET=<secret generated with `openssl rand -base64 32`>
SMTP_SERVER=<smtp.example.com>
SMTP_PORT=465
SMTP_USER=<noreply@example.com>
SMTP_PASS=<password>
EMAIL_SERVER=smtp://noreply@example.com:password@smtp.gmail.com:587
EMAIL_FROM=Name<noreply@example.com>
